---
const GITHUB_AVATAR_URL = `https://avatars.githubusercontent.com/u/151651960?v=4`;
---

<!-- Main container -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row"
>
  <!-- Image -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={GITHUB_AVATAR_URL}
      alt="HypeXee's Avatar"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Text -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      My name is <span class="text-white text-shadow">HypeXee</span>
    </h2>
    <p class="mt-4">
      I'm from <span class="text-primary font-semibold">India</span> and I currently
      work as a
      <span class="text-primary font-semibold"
        >full-stack software developer</span
      >, with a focus on <span class="text-primary font-semibold"
        >front-end development</span
      > and
      <span class="text-primary font-semibold">user experience</span>, using
      technologies such as <span class="text-primary italic"
        >React, Astro, JavaScript, TypeScript, Bootstrap, Tailwind, CSS,
        Node.js, Express.js, MongoDB, and MySQL</span
      >.
    </p>
    <p class="mt-2">
      My interest in <span class="text-primary font-semibold">technology</span> and
      <span class="text-primary font-semibold">programming</span> began while studying
      them in high school. I began reading the docs online and experimenting with
      simple projects. In my <span class="text-primary font-semibold"
        >computer science</span
      > class I had my first contact with the world of programming. Motivated by
      <span class="text-primary font-semibold">curiosity</span>, I continued
      studying
      <span class="text-primary font-semibold">self-taught</span>, then in a
      <span class="text-primary font-semibold"
        >Technician program focused on software development</span
      >, and decided that this was what I wanted to dedicate myself to <span
        class="text-primary font-semibold">professionally</span
      >.
    </p>
    <p class="mt-2">
      I am always committed to <span class="text-primary font-semibold"
        >continuous growth</span
      > and
      <span class="text-primary font-semibold">improvement</span> in my skills, seeking
      to adapt to new
      <span class="text-primary font-semibold">technological advancements</span>
      and excel both
      <span class="text-primary font-semibold">professionally</span> and <span
        class="text-primary font-semibold">personally</span
      >.
    </p>
  </div>
</div>
